h1 {
    color: red;
}

#keynote {
    width: 40%;
    margin: auto;
    padding: 10px;
}

#hood {
    width: 30%;
    background: darkolivegreen;
    float: left;
}

#musk {
    width: 30%;
    margin-left: 30%;
    color: antiquewhite;
    background: black;
}

#menus {
    width: 40%;
    margin: auto;
    padding: 10px;
}

#menu_day_1 {
    float: left;
    width: 30%;
    background: darkolivegreen;

}

#menu_day_2 {
    width: 30%;
    margin-left: 30%;
    background: #877348;

}

#register {
    text-align: center;
}